.dropdown{
    position: absolute;
    
    right: 2rem;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    z-index: 20;
    color: red;
}